# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.Python
.venv/
venv/

# PyInstaller
build/
dist/
*.spec

# Inno Setup
installer/Output/

# IDEs
.vscode/
.idea/
*.swp

# OS
Thumbs.db
.DS_Store
desktop.ini
